page-login {


    .login {
        background:    color($colors, dark);
        padding: 10px;
        position: relative;
        height: 160px;
        display:flex;
        align-items: center; /* Vertical center alignment */
        text-align: left;

        h1 {
            color:      white;
            margin:     10px 0 0px;
        }

    }

    .login_fab {
        background-color:  color($colors, secondary)
    }

    .fab_facebook {
        background-color:  color($colors, primary)
    }

    .fab_google{
        background-color:  color($colors, danger)
    }

    .flexcontainer {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-direction: row;
       flex-direction: row;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
    }

}
